@media (max-width: 767px) {
    .img-bottom-info {
        transform: translate(-50%, -80%);
    }

    .author-section .description {
        height: 400px;
    }

    .contact-map button {
        width: 100%;
    }

    .popular-post-img-mobile {
        width: 100%;
        height: 200px;
        background-position: center;
    }

    #hero-image {
        height: 30vh;
    }

    #introduction h1 {
        font-size: 35px;
    }

    .main-heading-h1 {
        font-size: 30px;
    }

    .carousel-item {
        height: 200px;
    }

    .navbar-nav {
        float: right;
    }

    .navbar-collapse {
        border-top: 1px solid;
    }


    .contact-map iframe {
        height: 150px;
    }

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
    .contact-map iframe {
        height: 500px;
    }

    .navbar {
        padding-left: 0;
        padding-right: 0px;
    }

    .carousel-item {
        height: 300px;
    }

    #hero-image {
        height: 30vh;
    }
}

@media (min-width: 768px) {

    .author-section .description {
        height: 400px;
    }

    .author-img {
        top: 25%;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

    .contact-map iframe {
        height: 500px;
    }

    .carousel-item {
        height: 450px;
    }

    #hero-image {
        height: 50vh;
    }
}